body {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	padding-top: 70px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	padding: 0px;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

.navbar {margin: 0!important; padding: var(--margin-xxs) 0 !important; }

.page a {
	color: gray!important;
}

.page h1, h2, h3, h4, h5, h6 {
	color: dimgray!important;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: var(--margin-xs)!important;
}

/* .page p, span {
	margin-bottom: var(--margin-s);
} */

:root {
	--margin-xxs: 8px;
	--margin-xs: 13px;
	--margin-s: 21px;
	--margin-m: 34px;
	--margin-xm: 55px;
	--margin-l: 89px;
	--margin-xl: 144px;
	--margin-xxl: 233px;
	--margin-xxxl: 377px;
}

.card-header {
	height: auto;
}

.card img {
	width: 100%;
	max-height: 144px;
	max-width: 144px;
}

.card-title {
	margin: 0!important;
	padding: 0!important;
}

.mb-s {
	margin-bottom: var(--margin-s)!important;
}

.mb-m {
	margin-bottom: var(--margin-m)!important;
}

.mb-l {
	margin-bottom: var(--margin-l)!important;
}

.screen-padding-right {
	margin-right: var(--margin-xs); /* should be same as navbar margin */
}
.screen-padding-left {
	margin-left: var(--margin-xs); /* should be same as navbar margin */
}

@media (min-width: 1200px) {
	.screen-padding-right {
		margin-right: var(--margin-xxl);
	}
	.screen-padding-left {
		margin-left: var(--margin-xxl);
	}
}